%p
  A new comment has been recieved on the blog post '#{@comment.associated_record.title}'.
  The details are as follows:

= @comment.name
= @comment.email
= @comment.organisation
= @comment.comment

%p
  You can publish the comment in Contentful at the link below:
  
//%p= link_to("#{ENV['HOST_URL']}/comments/#{@comment.id}/publish", "#{ENV['HOST_URL']}/comments/#{@comment.id}/publish")
%p= link_to @comment.contentful_url, @comment.contentful_url
