.container.content_page

  %h1= @prototype.decorate_title
  
  .indented
    .full_width.inner_container
      = @prototype.decorate_what_we_want_to_achieve
      = @prototype.decorate_who_we_are_working_with
      = @prototype.decorate_what_stage_are_we_at_now
      = @prototype.decorate_what_are_the_next_steps
