.container.single_blog
  .blog_container.full_width
    .top_section
      = @blog_post.decorate_title
      .blog_details
        %h3
          = @blog_post.decorate_date
          = @blog_post.decorate_author
    .indented
      .blog_sub_heading
        %h4= @blog_post.decorate_subheading
      .blog_content
        = @blog_post.decorate_body

  .comments.full_width
    - if @blog_post.comments.count > 0
      %h3="#{pluralize(@blog_post.comments.count, 'comment')}:"

      = render partial: 'comments/comment', collection: CommentsDecorator.decorate_collection(@blog_post.comments), as: :comment
      %br

    .accordion#add_comment
      .accord-single
        .accord-toggle
          .chevron_link
            %span.icon=fa_icon "comment"
            %span.link_style Add your comment

        .accord-cont
          = render 'comments/form'
