%h1= @blog_post.title

%p.subheading= raw @blog_post.subheading

%p.date= @blog_post.date.strftime('%e %B %Y')

%p.author= "By #{link_to(@blog_post.author.name, @blog_post.author.path)}".html_safe

= parse_markdown(@blog_post.body)
