%section.container
  %section.title
    = @blog_post.decorate_title
  %section.page
    = @blog_post.decorate_date
    = @blog_post.decorate_author
    %h4= @blog_post.decorate_subheading
    = @blog_post.decorate_body

    - if @blog_post.comments.count > 0
      %h3="#{pluralize(@blog_post.comments.count, 'comment')}:"

      = render partial: 'comments/comment', collection: CommentsDecorator.decorate_collection(@blog_post.comments), as: :comment
      %br

    .accordion#add_comment
      .accord-single
        %h4.accord-toggle
          Add your comment

        .accord-cont
          = render 'comments/form'
