%nav.nav
  %ul
    %li
      = link_to "About", page_path(id: 'about-the-centre')
    %li
      = link_to "Working with", page_path(id: 'working-with')
    %li
      = link_to "What's new", page_path(id: 'whats-new')
    %li
      = link_to "Evidence", page_path(id: 'evidence')
    %li
      = link_to "Sign up"

