%nav.nav
  %ul
    %li
      = link_to "About", section_path(id: 'about-us')
    %li
      = link_to "Working with", section_path(id: 'working-with')
    %li
      = link_to "What's new", section_path(id: 'whats-new')
    %li
      = link_to "Evidence", section_path(id: 'evidence')
    %li
      = link_to "Sign up"
