%nav.nav
  %ul
    %li
      = link_to "About us"
    %li
      = link_to "What's new"
    %li
      = link_to "Evidence"
    %li
      = link_to "Services"
    %li
      = link_to "Working with you"
