.container.content_page

  = report.decorate_title

  .indented
    .full_width.inner_container
      = report.decorate_summary
      = report.decorate_objectives
      = report.decorate_how_we_went_about_it
      = report.decorate_key_findings
      = report.decorate_what_next
      
      - if report.try(:sub_report)
        %h2 Sub Report
        = link_to report.sub_report.title, research_report_sub_report_url(report.slug, report.sub_report.slug)
