%section.container
  %section.title
    %h1
      = @section.title
  %section.overview
    = parse_markdown(@section.content)
  - if @pages.count > 0
    - @pages.each do |p|
      .summary
        = link_to raw("<h2>#{p.title}</h2>"), section_page_path(@section.slug, p.slug)
        = p.try(:summary)