.hero
  %section.section
    %h1
      = link_to "Better"
      outcomes for children and their families.
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  %section.cta
    = link_to "Keep updated about our development", "link", class: 'button'
%section.bar
  %h2
    The new centre will
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
%section.impact
  %h2
    Improving how we support them can impact on the rest of their lives.
  %p
    700,000 children and young people, along with their families have contact with the children’s social care sector every year in England.
%section.title
  %h2
    How we are setting up the new centre
%section.collection
  .single
    %h3
      Evidence and Research
    %p
      Researching initial themes on safely reducing the need to enter care, and supervision. Consulting on evidence standards and outcomes.
    = link_to "Learn about our evidence", "link"
  .single
    %h3
      Co-designing services
    %p
      Working with local authorities and partners to co-design and test ways to generate, share and embed evidence.
    = link_to "Learn about our services", "link"
  .single
    %h3
      Working with you
    %p
      Developing our strategy, services and team with children, young people, families, social workers,
    = link_to "Learn how we work with you", "link"
%section.title.border
  %h2
    What's new
%section.collection.border
  .single
    %h3
      Evidence and Research
    %p
      Researching initial themes on safely reducing the need to enter care, and supervision. Consulting on evidence standards and outcomes.
    = link_to "Keep updated about our development", "link"
  .single
    %h3
      Evidence and Research
    %p
      Researching initial themes on safely reducing the need to enter care, and supervision. Consulting on evidence standards and outcomes.
    = link_to "Keep updated about our development", "link"
  .single
    %h3
      Evidence and Research
    %p
      Researching initial themes on safely reducing the need to enter care, and supervision. Consulting on evidence standards and outcomes.
    = link_to "Keep updated about our development", "link"
%section.title
  %h2
    Who's involved
