<!DOCTYPE html>
<html>
  <head>
    <title>WhatWorksCentre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render template: "partials/header" %>
    <% flash.each do |name, msg| %>
      <% next unless msg.is_a?(String) && msg.present? %>
      <%= content_tag :div, :class => "flash_#{name}", :id => "alerts" do %>
        <div class="container">
          <div class="full_width">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <div id="alert_close">
              <%= fa_icon "times" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render template: "partials/footer" %>
  </body>
</html>
